<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2, minimum-scale=1.0">
  <title>modesto-flowers</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preload" href="statics/fonts/Raleway-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="statics/fonts/Raleway-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="statics/fonts/Raleway-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="statics/fonts/Raleway-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="statics/fonts/Roboto-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="statics/fonts/Marmelad-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="statics/fonts/PTSans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="statics/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="statics/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="statics/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="statics/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="statics/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="statics/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="statics/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="statics/img/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="statics/img/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="statics/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="statics/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="statics/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="statics/img/favicon/favicon-128.png" sizes="128x128">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="statics/img/favicon/mstile-144x144.png">
  <meta name="msapplication-square70x70logo" content="statics/img/favicon/mstile-70x70.png">
  <meta name="msapplication-square150x150logo" content="statics/img/favicon/mstile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="statics/img/favicon/mstile-310x150.png">
  <meta name="msapplication-square310x310logo" content="statics/img/favicon/mstile-310x310.png">
  <link rel="icon" href="statics/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="statics/css/index.css">
</head>

<body>
  <header class="header">
    <div class="header__cont cont-wide">
      <div class="header__area">
        <div class="header__logo">
          <img src="statics/img/logo.svg" alt="" class="header__logo-image">
        </div>
        <ul class="header__menu">
          <li class="header__menu-item">
            <a href="#" class="header__menu-link link-orange">Магазины</a>
          </li>
          <li class="header__menu-item">
            <a href="#" class="header__menu-link link-orange">Контакты</a>
          </li>
          <li class="header__menu-item">
            <a href="#" class="header__menu-link link-orange">О нас</a>
          </li>
        </ul>
        <a href="tel:+36787547894" class="header__phone link-orange">+3 67 8754 7894</a>
        <div class="header__language-list">
          <a href="#" class="header__language-link header__language-link_active">Ru</a>
          <a href="#" class="header__language-link">Eng</a>
        </div>
        <a href="#" class="header__sign-in link-orange">Войти</a>
        <a href="#" class="header__sign-up">Создать аккаунт</a>
        <img src="statics/img/ic_burger_black.svg" alt="" class="header__burger">
      </div>
    </div>
  </header>
  <section class="cap cap_index">
    <div class="cap__cont cont">
      <div class="cap__area">
        <h1 class="cap__caption h1">
          Мы будем рады сотрудничать с вами на платформе 'Международной цветочной онлайн-площадки'!
        </h1>
        <p class="cap__text">
          Присоединяйтесь к нам и начните получать доход с бизнеса в первый месяц регистрации!
        </p>
        <div class="cap__buttons">
          <a href="#" class="cap__button cap__button_yellow btn-yellow">Начать покупать</a>
          <a href="#" class="cap__button cap__button_grey btn-grey">Начать продавать</a>
        </div>
      </div>
    </div>
  </section>
  <section class="feedback">
    <div class="feedback__cont cont">
      <div class="feedback__area">
        <div class="feedback__box">
          <h2 class="feedback__title h2">Заполните форму и начните развивать свой бизнес прямо сейчас!</h2>
          <p class="feedback__text">
            Регистрация на нашем сайте занимает несколько минут, просим ответить на все вопросы полностью и
            корректно! После подтверждения регистрации вы попадёте в систему, где большинство процессов
            автоматизированы, что сэкономит ваше время и деньги!
          </p>
        </div>
        <form action="" class="feedback__form">
          <div class="feedback__slide feedback__slide_js feedback__slide_1 feedback__slide_active">
            <div class="feedback__slide-box">
              <label class="feedback__label">
                <span class="feedback__name">Ваше имя</span>
                <input type="text" class="feedback__input input-yellow" required placeholder="Фролова Александра Васильевна">
              </label>
              <label class="feedback__label">
                <span class="feedback__name">Название Компании</span>
                <input type="text" class="feedback__input input-yellow" required placeholder="ООО Атлантика">
              </label>
              <label class="feedback__label">
                <span class="feedback__name">E-mail</span>
                <input type="email" class="feedback__input input-yellow" required placeholder="flolovaalexa@com.rur">
              </label>
            </div>
            <div class="feedback__slide-box">
              <label class="feedback__label">
                <span class="feedback__name">Номер телефона</span>
                <input type="tel" class="feedback__input input-yellow" required placeholder="+7 (XXX) - XXX XX XX">
              </label>
              <label class="feedback__label">
                <span class="feedback__name">Промокод</span>
                <input type="text" class="feedback__input input-yellow" required placeholder="HGF864">
              </label>
              <button class="feedback__next feedback__next_js btn-yellow" type="button">Далее</button>
            </div>
          </div>
          <div class="feedback__slide feedback__slide_js feedback__slide_2">
            <div class="feedback__slide-box">
              <label class="feedback__label">
                <span class="feedback__name">Пароль</span>
                <input type="text" class="feedback__input input-yellow" required placeholder="Создайте пароль">
              </label>
              <label class="feedback__label">
                <span class="feedback__name">Подтвердите пароль</span>
                <input type="text" class="feedback__input input-yellow" required placeholder="Повторите пароль">
              </label>
              <label class="feedback__label">
                <span class="feedback__name">Введите символы из картинки</span>
                <input type="text" class="feedback__input input-yellow" required placeholder="Код из картинки">
              </label>
            </div>
            <div class="feedback__slide-box">
              <div class="feedback__captcha"></div>
              <div class="feedback__buttons">
                <button class="feedback__back feedback__back_js btn-grey" type="button">Назад</button>
                <button class="feedback__submit btn-yellow">Подтвердить</button>
              </div>
              <label class="feedback__checkbox-label">
                <input type="checkbox" class="feedback__checkbox-input" checked required>
                <div class="feedback__checkbox-view"></div>
                <p class="feedback__checkbox-text">
                  Я даю согласие на обработку моих персональных данных и правовых документов
                </p>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer__cont cont-wide">
      <div class="footer__area">
        <div class="footer__box">
          <h3 class="footer__headline h3">Наши офисы</h3>
          <div class="footer__address-list">
            <p class="footer__address-item">
              Московский офис <br>
              <a href="tel:+74552678907" class="footer__address-link link-orange">+7 455 267-89-07</a> <br>
              Берсеневский пер., д. 56, стр. 4,
              6-й эт., Москва, 567754
            </p>
            <p class="footer__address-item">
              Ростовский офис <br>
              <a href="tel:+78788880167" class="footer__address-link link-orange">+7 878 888-01-67</a> <br>
              Буденовский пр-т, д. 84, 6-й эт.,
              Ростов-на-Дону, 679965
            </p>
          </div>
        </div>
        <div class="footer__box footer__box_2">
          <h3 class="footer__headline h3">Мы в соц сетях</h3>
          <div class="footer__social-list">
            <a href="#" class="footer__social-link link-orange">Instagram</a>
            <a href="#" class="footer__social-link link-orange">Facebook</a>
          </div>
        </div>
        <div class="footer__box">
          <h3 class="footer__headline h3">Свяжитесь с нами</h3>
          <div class="footer__contacts">
            <a href="tel:+36787547894" class="footer__phone link-orange">+3 67 8754 7894</a>
            <a href="mailto:mflowers@flo.com" class="footer__mail link-orange">mflowers@flo.com</a>
          </div>
          <a href="#" class="footer__send btn-yellow">Написать</a>
        </div>
      </div>
      <div class="footer__copyright">
        Авторские права 2008-2022 M-flowers.com
      </div>
    </div>
  </footer>

  <script src="statics/js/app.js" async></script>
</body>

</html>
