.input-yellow {
  border-radius: 6px;
  background-color: #FFF8E1;
  padding: 16px 8px;
  color: $brown;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  outline: none;
}
